h4,
h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footer,
.navbar,
.navbar-nav li a,
footer {
  background-color: #a74d4a;
  color: #fff;
}
.footer,
footer,
h4,
li,
li a {
  color: #fff;
}
h4 {
  margin-bottom: auto;
}
h5 {
  font-weight: 700;
}
.navbar,
.navbar-nav li a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.navbar-nav li a:hover {
  color: rgba(18, 18, 18, 0.5);
}
li,
li a {
  list-style: none;
}
#tributeSection {
  background-color: #e7e1e1;
}
#futureVision {
  background-color: #818b7e;
}
