h1,
h2,
h3,
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar-nav li a:hover,
h1 {
  color: rgba(18, 18, 18, 0.5);
}
#costumize,
h1 {
  text-align: center;
}
.modal-content,
body {
  background-color: #e7e1e1;
}
.footer,
.navbar,
.navbar-nav li a,
footer {
  background-color: #a74d4a;
  color: #fff;
}
h1 {
  font-size: 60px;
}
h4 {
  color: #fff;
  margin-bottom: auto;
}
.navbar,
.navbar-nav li a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
li,
li a {
  color: #fff;
  list-style: none;
}
.reveal {
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 0.8s, transform 0.8s;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
.img-fluid {
  height: 350px;
  width: 400px;
  object-fit: cover;
}
#costumize {
  background-color: #818b7e;
  max-height: 300px;
  width: fit-content;
}
